/*
color #hex
beige #dfd6b6
orange #e07424
blue #8ec9ee
green #72caaf
pink #f283a5
purple #56376d
*/

/* .yt-vid {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.yt-container iframe, .yt-container object, .yt-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
} */

